/*css for large screen*/
@media only screen and (min-width: 1200px) {

    .bg-1 {
       /* color: #ffffff;*/
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bg-3 {
        /*color: #ffffff;*/
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bg-5 {
        /*color: #ffffff;*/
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
body {
    background-color: #2f2f2f;
}
/*css for card*/
.card {
    margin-top: 12%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 50%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    align-content: center;
}
/*basic details form margin*/
.bg-3 .card {
    margin-top: 5%;
}
/*action if user hover over card */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/*image tag*/
img {
    border-radius: 5px 5px 0 0;
}
/*tick marks if the input is correct*/
.tickEmail, .crossEmail { 
    display: none;
    position: absolute; top: 27px; right: 17px; 
}

.tickPass, .crossPass {
    display: none;
    position: absolute; top : 71px; right: 17px;
}

.tickRepass, .crossRepass {
    display: none;
    position: absolute; top: 116px; right: 17px;
}
.tickName, .crossName {
    display: none;
    position: absolute; top: 7px; right: 17px;
}
.tickPhone, .crossPhone {
    display: none;
    position: absolute; top: 52px; right: 17px;
}
.tickGender, .crossGender {
    display: none;
    position: absolute; top: 84px; right: 17px;
}
.tickDate, .crossDate {
    display: none;
    position: absolute; top: 154px; right: 17px;
}
.tickStreet, .crossStreet {
    display: none;
    position: absolute; top: 7px; right: 17px;
}
.tickCity, .crossCity {
    display: none;
    position: absolute; top: 51px; right: 17px;
}
.tickState, .crossState {
    display: none;
    position: absolute; top: 95px; right: 17px;
}
.tickCountry, .crossCountry {
    display: none;
    position: absolute; top: 138px; right: 17px;
}
.container2 {
    display: none;
}
.container3 {
    display: none;
}
/*css for very small screen like mobile phones*/
@media only screen and (max-width: 600px) {   
.bg-1 {
margin-top: 25%;
}