@media only screen and (min-width: 1200px) {
    .bg-1 {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}

body {
    background: url(loginbcg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
footer {
    color: white;
    background-color: black;
    padding: 1em;
    text-align: center;
    opacity: 0.9;
    align-self: bottom     
}
.bg-1 {
    color: #ffffff;
    margin-top: 16%;
}
    
.card {
    opacity: 0.8;
    background-color: black;
    text-color: #ffffff;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.error {
    color: #ff0000;
}
    
@media only screen and (max-width: 600px) {   
    .bg-1 {
    margin-top: 25%;
}
    
}